@import '../../index.scss';

.skills {
    $color-1: rgb(46, 40, 75);
    $color-2: rgb(24, 24, 24);

    background: radial-gradient(circle farthest-side, $color-1, $color-2);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    position: relative;

    .wrapper{

        display: flex;


    .titleContainer{

        h2{

            font-size: 50px;
            color: #9337df;
            letter-spacing: 1px;
        }
    }

    }
    


}

