@import "../../index.scss";


.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;

  @include mobile {

    display: none;
  }
  
  .bg {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: rgba(24, 24, 24, 0.7);
    backdrop-filter: blur(8px); 

    @include mobile{

      display: none;
    }



    .links {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;

a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(134, 133, 133);



  
  &:hover {
    color: #9337df; // Mudando a cor ao passar o mouse
    &::after {
      content: ''; 
      position: absolute; 
      left: 0; 
      bottom: 10px; 
      width: 100%; 
      height: 2px; 
      background-color: #9337df; 
      transition: width 0.3s ease; 
    }
  }
}
    }
  }

  button {
    z-index: 999;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}