@import "../../index.scss";


.aboutme {
    $color-1: rgb(46, 40, 75);
    $color-2: rgb(24, 24, 24);

    background: radial-gradient(circle farthest-side, $color-1, $color-2);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;


    .wrapper {

        padding-top: 20px;
        position: relative;

        .titleContainer {

            h2 {
                font-size: 50px;
                color: #9337df;

            }

            hr {
                width: 300px;
                border: none;
                left: 38%;
                border-top: 0.5px solid rgb(134, 133, 133);
                position: absolute;

                @include mobile {
                    width: 280px;
                    left: 17%;
                }
            }
        }


        .textContainer {

            padding-top: 45px;
            margin: 10px;
            color: rgb(134, 133, 133);
            font-size: 20px;
            text-align: justify;
            letter-spacing: -1px;


            @include mobile {
                font-size: 16px;
            }

        }
    }

    .purple-text {
        background: linear-gradient(to right, #9337df, #7f00b2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}